</main>
    <section class="footer-section">
        <footer class="site-footer">
            <p>Copyright © <span id="copyright-year">2025</span></p>
            <div class="social-links">
                <a href="https://github.com/lucasmodin">
                    <img src="/assets/icons/github.svg" alt="GitHub">
                </a>
                <a href="https://www.linkedin.com/in/lucas-modin-5bb484172">
                    <img src="/assets/icons/linkedin-svgrepo-com.svg" alt="LinkedIn">
                </a>
            </div>
        </footer>
    </section>
    $$SCRIPT_LINKS$$
</html>