<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$$TAB_TITLE$$</title>
    $$CSS_LINKS$$
</head>
<body>
    <header>
        <nav>
            <ul class="nav-list">
               <li class="frontpage-link">Frontpage</li>
               <li class="dropdown">
                    <button class="dropdow-btn">Subjects ▾</button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/subjects/git">Git basics</a></li>
                        <li><a href="/subjects/javascript">JavaScript</a></li>
                        <li><a href="/subjects/node">Node.js</a></li>
                        <li><a href="/subjects/express">Express</a></li>
                        <li><a href="/subjects/ssr-csr">SSR & CSR</a></li>
                        <li><a href="/subjects/rest">REST</a></li>
                    </ul>
                </li>  
                <li class="about-link" href="/about">About</li>
            </ul>
        </nav>
    </header>
</body>
</html>